@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}


html{
    /* background-color: blueviolet; */
}

body{
    min-height: 100vh;
    max-width: 1200px;
    /* border: 2px solid red; */
    /* background-color: rgb(160, 202, 125);   */
    margin: 0 auto;  

}