
.SectionGaleriaContent{
    display: flex;
    align-items: center;
    justify-content: center;

}

.SectionGaleriaContent img{
    max-width: 500px;
    background-color: blanchedalmond;
    border-radius: 30px;
}

.SectionGaleria{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}


.SectionGaleria img{
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
}
.SectionGaleria img:hover{

    cursor: pointer;
    border-radius: 15px;
    width: 100px;
}